.imageStyle {
    /* padding: 1vh 0 1vh 0; */
    height: 100%;
    width: auto;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 20%;
}

.imageContainer {
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 20vh;
    padding: 0;
    margin: auto;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding: 5% 0 5% 0;
    font-size: 2vh;
}

.trackContainer {
    display: flex;
    height: 20vh;
    width: 80vw;
    position:relative;
    background-color: #1E40AF;
    margin: 1rem auto 1rem auto; /* Adjust margins as needed */
    border-radius: 0.5rem;
    text-align: center;
    flex: 1; /*Allow the element to grow and shrink */
    align-items: stretch;
    justify-content: center;
}

.trackInfo {
    width: 100%;
    align-items: stretch;
    margin: auto;
    display: block;
    padding: 1vh;
    font-size: 2vh;
}