.imageStyle {
    padding: 5%;
    height: 100%;
    width: auto;
    object-fit: cover;
    margin: 0 auto;
}

.button {
    width: auto;
    height: 100%;
    padding: 0 0 5% 0;
}

.trackItems {
    height: 20%;
    display: flex; /* flex in Tailwind */
    background-color: #1E40AF; /* bg-blue-900 in Tailwind */
    margin: 1rem auto 1rem auto; /* my-4 in Tailwind */
    border-radius: 0.5rem; /* rounded-lg in Tailwind */
    width: auto;
    text-align: center; /* text-center in Tailwind */
}